html,
body,
.view {
    height: 100%;
}
/* Navigation*/

#best-features div.view {
    background-color: #FFF;
}

.navbar {
    background-color: transparent;
}

.scrolling-navbar {
    -webkit-transition: background .5s ease-in-out, padding .5s ease-in-out;
    -moz-transition: background .5s ease-in-out, padding .5s ease-in-out;
    transition: background .5s ease-in-out, padding .5s ease-in-out;
}

.top-nav-collapse {
    background-color: #1C2331;
}

footer.page-footer {
    background-color: #1C2331;
    margin-top: 2rem;
}

@media only screen and (max-width: 768px) {
    .navbar {
        background-color: #1C2331;
    }
}
/*Call to action*/

.flex-center {
    color: #fff;
}

.main-view {
    background: url("/img/background10.jpg")no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
/*Contact section*/

#contact .fa {
    font-size: 2.5rem;
    margin-bottom: 1rem;
    color: #1C2331;
}


#contact_form button.btn-primary {
    background: #373a3c !important;
}

#contact_form button.btn-primary:hover,
#contact_form button.btn-primary:visited, {
    background: #373a3c !important;
}

button.btn-secondary {
    background: #373a3c !important;
    color: #fff;
}

button.btn-secondary:hover,
button.btn-secondary:focus {
    background: #373a3c !important;
    color: #fff;
}


#contact_form input:focus,
#contact_form textarea:focus {
    border-bottom: 1px solid #44484e;
    box-shadow: 0 1px 0 0 #212223;
}

#contact_form input:focus+label {
    color: #373a3c;
}

#contact_form i {
    color: #373a3c;
}

#contact_form label {
    width: 100%;
}

#contact a {
    color: #373a3c;
}
